@use '../abstracts/variables';

body {
    background: variables.$color-background-page;
    color: variables.$color-text-page;
}

a {
    color: variables.$color-text-page;
    text-decoration: none;
}

.application-wrapper {
    background: variables.$color-background-page;
    color: variables.$color-text-page;
    min-height: 100vh;
}
