@use '../abstracts/mixins';
@use '../abstracts/variables';

.page-info {
    background: variables.$color-background-page-secondary;
    border-bottom: variables.$border-width solid variables.$border-color;
}

.page-info h2 {
    color: variables.$color-text-page;
    font-weight: variables.$font-weight-semibold;
    font-size: variables.$font-size-xl;
}

.page-info {
    .info-wrapper {
        padding-bottom: calc(variables.$spacer-md * 1.5);
        padding-top: calc(variables.$spacer-md * 1.5);
        @include mixins.spacing();
    }
}
