@use 'sass:color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.recipe {
    @include mixins.border();
    @include mixins.flex(stretch, space-between, column);
    background: variables.$color-background-element;
    color: variables.$color-text-element;
    padding: variables.$spacer-md;
    @include mixins.spacing();
}

.recipe-head {
    @include mixins.flex(stretch, space-between, row, wrap);
}

.recipe-title {
    font-size: variables.$font-size-xl;
    font-weight: variables.$font-weight-semibold;
    width: 100%;
}

.recipe-link {
    display: block;

    &:hover {
        .recipe {
            background: color.scale(variables.$color-background-element, $lightness: -21%);
        }
    }
}
