@use 'sass:color';
@use 'variables';

// Add a border to an element
@mixin border() {
    border: variables.$border-width solid variables.$border-color;
    border-radius: variables.$border-radius;
}

// Make the element a flexbox
@mixin flex($align: stretch, $justify: flex-start, $direction: row, $wrap: nowrap, $gap: null) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;

    @if $gap != null {
        gap: $gap;
    }
}

// Create a button
@mixin button($color: variables.$color-primary) {
    @include border();
    background: $color;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    height: 100%;
    min-width: 5rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: color.scale($color, $lightness: -21%);
        color: #ffffff;
    }
}
