// Colors
$color-primary: #d1ba22;
$color-secondary: #4eb763;
$color-danger: #a92311;

$color-text-page: #ffffff;
$color-background-page: #111827;
$color-background-page-secondary: #1f2937;
$color-text-element: #000000;
$color-background-element: #e1b962;

// Fonts
$font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-md: 1rem;
$font-size-xs: calc($font-size-md * 0.25);
$font-size-small: calc($font-size-md * 0.875);
$font-size-lg: calc($font-size-md * 1.3);
$font-size-xl: calc($font-size-md * 1.5);
$font-size-xxl: calc($font-size-md * 2);
$font-size-big: calc($font-size-md * 2.5);

$font-weight-lightbold: 500;
$font-weight-semibold: 600;

// Spacers
$spacer-md: $font-size-md;
$spacer-lg: $font-size-xxl;
$width-standard: calc($font-size-md * 80);

// Screen sizes
$screen-md: 640px;
$screen-lg: 1024px;

// Borders
$border-color: $color-text-page;
$border-radius: 5px;
$border-width: 3px;
